* {
    margin: 0;
    padding: 0;
}

body {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: white;
    font-size: 20px;
}

#Senha {
    width: 400px;
    height: 200px;
    margin: 100px;
    padding: 20px;
    background-color: #232325;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

#Senha:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}